<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="../assets/img/favicon.ico" />

<!-- Meta tags for charset and responsive design -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Page title -->
<title>Ryan's Portfolio</title>

<!-- Local CSS files -->
<link rel="stylesheet" href="../assets/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="../assets/css/vapor.css" asp-append-version="true" />

<!-- Devicon CDN for tech stack icons -->
<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />

<!-- SVG symbol (hidden) for chevron icons on Projects page -->
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="chevron-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
        </path>
    </symbol>
</svg>