<!-- Navbar with Bootstrap classes -->
<nav class="navbar navbar-expand-sm navbar-light bg-primary border-bottom box-shadow mb-3" data-bs-theme="dark">
    <div class="container">
        <!-- Normal navbar for larger screens -->
        <div class="d-none d-lg-flex justify-content-between w-100">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item" id="home">
                    <a href="../index.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item" id="projects">
                    <a href="projects.html" class="nav-link">Projects</a>
                </li>
                <li class="nav-item" id="contact">
                    <a href="contact.html" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>

        <!-- Navbar layout for small screens -->
        <div class="d-lg-none d-flex justify-content-between w-100">
            <ul class="navbar-nav flex-grow-1 list-group-horizontal">
                <li class="nav-item text-center w-100" id="home">
                    <a href="../index.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item text-center w-100" id="projects">
                    <a href="projects.html" class="nav-link">Projects</a>
                </li>
                <li class="nav-item text-center w-100" id="contact">
                    <a href="contact.html" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
</nav>

